NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database
DATABASE_URL=
MONGODB_URI=mongodb://localhost:27017

# Better Auth + OAuth
BETTER_AUTH_URL=http://localhost:3000/api/auth
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000/api/auth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OpenAI
OPENAI_API_KEY=

# Polar
POLAR_ACCESS_TOKEN=

# Stream
NEXT_PUBLIC_STREAM_CHAT_API_KEY=
STREAM_CHAT_SECRET_KEY=
NEXT_PUBLIC_STREAM_VIDEO_API_KEY=
STREAM_VIDEO_SECRET_KEY=
